<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © Trichat.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block me-4" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                    Developed by Trichat team
                </div>
            </div>
        </div>
    </div>
</footer>